#root header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
    z-index: 1;
}

#root nav {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    padding: 1em;
    font-weight: 600;
}